<% include partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-success">
                <!-- Default panel contents -->
                <div class="panel-heading"><%= widget.name %></div>
                <div class="panel-body">
                    <p><%= widget.description %></p>
                </div>
                <div class="table-responsive">
                    <!-- Table -->
                    <table class="table table-hover">
                        <tr>
                            <thead>
                                <tr>
                                    <th>In Stock</th>
                                    <th>Giga Watts</th>
                                    <th>Speed</th>
                                    <th>Date Received</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><%= widget.inStock %></td>
                                    <td><%= widget.gigaWatts %></td>
                                    <td><%= widget.speed %></td>
                                    <td><%= widget.created %></td>
                                    <td><a href="/widgets/<%= widget._id %>/edit" class="btn btn-primary">Edit</a></td>
                                    <td>
                                        <form action="/widgets/<%= widget._id %>?_method=DELETE" method="post">
                                            <button href="/widgets/<%= widget._id %>/edit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>